* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0px;
    font-family: 'segoe ui';
  }
  
  .nav {
    width: 100%;
    background-color: #4e4134;
    position: relative;
    padding : 10px 50px;
  }
  
  .nav > .nav-header {
    display: inline;
  }
  
  .nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 22px;
    color: #fff;
    padding: 10px 10px 10px 10px;
  }
  
  .nav > .nav-btn {
    display: none;
  }
  
  .nav > .nav-links {
    display: inline;
    float: right;
    font-size: 18px;
    margin-left: auto;
    margin-right: 30px;
  }
  
  .nav > .nav-links > a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #efefef;
  }
  
  .nav > .nav-links > a:hover {
    background-color: rgb(187, 19, 47);
  }
  
  .nav > #nav-check {
    display: none;
  }
  
  @media (max-width:600px) {
    .nav > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
    }
    .nav > .nav-btn > label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 13px;
    }
    .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
      background-color: rgba(0, 0, 0, 0.3);
    }
    .nav > .nav-btn > label > span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid #eee;
    }
    .nav > .nav-links {
      position: absolute;
      display: block;
      width: 100%;
      background-color: #333;
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 50px;
      left: 0px;
    }
    .nav > .nav-links > a {
      display: block;
      width: 100%;
    }
    .nav > #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }
    .nav > #nav-check:checked ~ .nav-links {
      height: calc(100vh - 50px);
      overflow-y: auto;
    }
  }


body{
    overflow-x: hidden;
}
.home{
    display: flex;
    flex-wrap: wrap-reverse;
    flex-direction: row;
    justify-content: center;
    height: 90vh;
    width: 100vw;
    padding-top: 10vh;
    align-items: center;
    gap : 1rem;
}
.home.la {
  justify-content: left;
  padding-left: 35px;
  align-items: baseline;
}
.text{
    width: 35vw;
}
.text.la{
  width: 50vw;
}
.text button{
    border: none;
    padding: 10px 15px;
    border-radius: 3px;
    background : #89725c;
    color : #fff;
    font-weight: bold;
}
.text button:hover{
    color: #89725c;
    background-color: #fff;
    border : 1px solid #89725c;
    cursor: pointer;
    transform: scale(1.1);
    transition: .2s;
}
.image{
    height : 70vh;
    width: 40vw;
    margin-left: -200px;
}
.image img{
    object-fit: contain;
    height: 100%;
    width: 100%;
}
.image.tes{
  width: 300px;
  height: 600px;
}

footer{
  padding : 30px;
  display: flex;
  flex-wrap: wrap;
}
footer .media{
  margin-right: 25px;
  width: 30vw;
}
footer .media a{
  text-decoration: none;
  color: #FFF;
  margin: 15px;
}
footer .media a:hover{
  text-decoration: underline;
  transition: .3s;
  cursor: pointer;
  transform: scale(1.1);
  color: pink;
}
footer form{
  width: 40vw;
}


/* -------------------SERVICES -------------------- */
.services{
    background-color: #cfb69c;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0px 30px 0px;
}
.cont{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 80vw;
    
}
.services .cont .car{
    width: 200px;
    text-align: left;
}
.services .cont .imgCover{
    width: 200px;
    height: 200px;
    margin-bottom: 15px;
}
.services .cont .imgCover img{
    height: 100%;
    width: 100%;
    object-fit: cont;
}


/* ------------------------MISSION ---------------- */
.mission{
    text-align: center;
    padding: 20px;
}
.mission.le{
    background-color: #e1d1c1;
    padding: 30px;
    color: #fff;
}
.mission p{
    width: 70vw;
    margin : 10px auto;
}
.mission ul{
    width: fit-content;
    margin: 10px auto;
}
/* -----------------------------REVIEW SERVICES ------------------ */
.portfolio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.portfolio .slides{
    width: 90vw;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    gap: 1rem;
    margin-top: 20px;
}

.portfolio .slides .imageRev{
    width: 400px;
    height: 300px;
    /* border: 2px solid yellow; */
    margin-right: 20px;
    background-color: grey;
}
.portfolio .slides .imageRev img{
    object-fit: cont;
    width: 100%;
    height: 100%;
}
.portfolio .slides .testside{
    /* border: 1px solid green; */
    width: 400px;
}


footer{
    height: 60vh;
    color: white;
    background-color: #4e4134;
}
/* -----------------SMALLER SCREEN RESOLUTION ------------------ */
@media (max-width : 920px) {
    .home{
        flex-direction: column-reverse;
        height: fit-content;
        padding-top: 0vh;
        padding-left: 10px;
    }
    .home .text{
        /* border: 1px solid red; */
        height: fit-content;
        width: 80vw;
        margin-top: -10vh;
    }
    .image{
        width: 80vw;
        height: 60vh;
    }
    .home.la{
      height: fit-content;
    }
    .services{
        height: fit-content;
        margin-top: 20vh;
        padding: 30px;
    }
    .services .cont .imgCover{
        width: 150px;
        margin-right: 15px;
    }
    .services .cont .car{
        margin-right : 20px;
        display: flex;
        width: fit-content;
    }
    .services .cont .car .tet{
        display: flex;
        flex-direction: column;
        width: 150px;
        font-size: small;
        text-align: left;
        margin-top: 45px;
    }
    .portfolio .slides{
        flex-direction: column-reverse;
    }
    footer {
      flex-direction: column;
      height: fit-content;
    }
    footer form{
      width: 80vw;
    }
}